.login-form {
    background-color: #ffffff;
    max-width: 450px;
    margin: 100px auto 0;
    text-align: center;
    padding: 10px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0, .5);
}

.input-holder {
    width: 100%;
}

.login {
    margin-top: 15px !important;
}