p {
    margin-top: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container > .content-holder {
    width: 50%;
    text-align: center;
}

.flex-container .login-form {
    margin: 0 auto;
}

@media only screen and (max-width: 768px){
    .flex-container > .content-holder {
        width: 100%;
        margin-bottom: 25px;
    }
}

.button-holder {
    display: flex;
    justify-content: center;
}

.btn-download {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 0 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2px 0 rgba(0,0,0, .5);
}

.device-info {
    display: flex;
    justify-content: space-between;
}

.device-info .img-holder {
    width: 20%;
}

.device-info p {
    width: 60%;
    padding: 0 15px;
}

.device-name {
    margin-bottom: 15px;
    display: block;
}

.control-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 20%;
    min-width: 170px;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

.red {
    background-color: #d62d20;
}

.green {
    background-color: #008744;
}

.loader {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader:before {
     content: '';
     display: block;
     padding-top: 100%;
 }

.circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700 ;
    }
}

.showbox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}