main {
    padding: 50px 0 0;
    position: relative;
    min-height: calc(100vh - 190px);
}

@media only screen and (max-width: 768px) {
    main {
        padding: 40px 0 0;
    }
}

p {
    margin-top: 0;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-container > .content-holder {
    width: 50%;
    text-align: center;
}

.flex-container .login-form {
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .flex-container > .content-holder {
        width: 100%;
        margin-bottom: 25px;
    }
}

.button-holder {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container-holder {
    margin-bottom: 5px;
}

.container-holder__subtitle {
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: -15px;
    color: #777777;
}

.btn-download {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 0 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .5);
}

.btn-download--api {
    text-decoration: none;
    font-size: 20px;
}
