.login-form {
    background-color: #ffffff;
    max-width: 450px;
    margin: 100px auto 0;
    text-align: center;
    padding: 10px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .5);
    color: #333;
}

.input-holder {
    width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

.login {
    margin-top: 15px !important;
}
