.container {
    max-width: 1020px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.container.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.preloader_holder {
    position: relative;
}

body {
    background-color: #fff;
    color: #333333;
}

img {
    max-width: 100%;
    vertical-align: top;
}

a {
    transition: color ease-in-out 0.3s;
    color: #777;
}

a:hover {
    color: #aaa;
}
