.container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 20px;
}

.container.center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.preloader_holder {
    position: relative;
}

body {
    background-color: #fff;
}

img {
    max-width: 100%;
    vertical-align: top;
}

a {
    outline: none;
}
