.comparison-wrapper {
    display: flex;
    justify-content: space-around;
}

.comparison-wrapper__title {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333333;
}

.comparison-wrapper__placeholder {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.comparison-wrapper__chart {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

